
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4ca1af;
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
}

.calculator{
    
    padding: 20px;
    border-radius: 16px;
    background: #fafdff;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input{
    width: 320px;
    border: 1px solid #73a1c9;
    padding: 24px;
    margin: 10px;
    border-radius: 5px;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

/* input::placeholder{
    color: #ffffff;
} */

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: #EEE;
    color: #000;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #90d0e9;
}

.operator{
    color: #4070f4;
}